* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
nav {
    background: #222;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.header__menu__logo a:hover {
    text-decoration: none;
}
.header__menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.header__menu__logo a,
.toggle a {
    font-size: 20px;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}
.item.button {
    order: 2;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .header__menu {
        justify-content: center;
    }
    .header__menu__logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 8px 15px;
        background: #4a077f;
        border: 1px #59099c solid;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #7609c8;
        border-color: #4a077f;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .header__menu__logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}


/* Logo */
.header__menu__svg-logo {
    width: 250px;
}
path.header__menu__logo__logo-dorokhin {
    fill: #702fdf;
}
path.header__menu__logo__logo-moscow {
    fill: #0fb646;
}
path.header__menu__logo__logo-dot {
    fill: #ff00c4;
    animation:dot-flash 4s linear infinite;
}
@keyframes dot-flash {
    0% {
        opacity:0
    }
    20% {
        opacity:0
    }
    21% {
        opacity:1
    }
    80% {
        opacity:1
    }
    81% {
        opacity:0
    }
    100% {
        opacity:0
    }
}