* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    color: #222222;
    font-family: sans-serif, "Helvetica", "Arial";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

div, h2, p, figure {
    margin: 0;
    padding: 0;
}


nav {
    background: #222222;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
a:hover {
    text-decoration: underline;
}
.header__menu__logo a:hover {
    text-decoration: none;
}
.header__menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.header__menu__logo a,
.header__menu__toggle a {
    font-size: 20px;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__menu__toggle {
    order: 1;
}
.header__menu__item.button {
    order: 2;
}
.header__menu__item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.header__menu__item.active {
    display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .header__menu {
        justify-content: center;
    }
    .header__menu__logo {
        flex: 1;
    }
    .header__menu__toggle {
        flex: 1;
        text-align: right;
    }
    .header__menu__item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .header__menu__toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 8px 15px;
        background: #4a077f;
        border: 1px #59099c solid;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #7609c8;
        border-color: #4a077f;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */
@media all and (min-width: 900px) {
    .header__menu__item {
        display: block;
        width: auto;
    }
    .header__menu__toggle {
        display: none;
    }
    .header__menu__logo {
        order: 0;
    }
    .header__menu__item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}


/* Logo */
.header__menu__svg-logo {
    width: 250px;
}
path.header__menu__logo__logo-dorokhin {
    fill: #702fdf;
}
path.header__menu__logo__logo-moscow {
    fill: #0fb646;
}
path.header__menu__logo__logo-dot {
    fill: #ff00c4;
    animation:dot-flash 4s linear infinite;
}
@keyframes dot-flash {
    0% {
        opacity:0
    }
    20% {
        opacity:0
    }
    21% {
        opacity:1
    }
    80% {
        opacity:1
    }
    81% {
        opacity:0
    }
    100% {
        opacity:0
    }
}


/* Content */

.main {
    margin: 0 auto;
    max-width: 1040px;
    padding: 10px;
}

.column {
    flex: 1;
    flex-direction: column;
}

.article {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
}

.article:hover,
.article:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #444;
}

.article-image {
    background: #eee;
    display: block;
    padding-top: 75%;
    position: relative;
    width: 100%;
}

.article-image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.article-image.is-3by2 {
    padding-top: 66.6666%;
}

.article-image.is-16by9 {
    padding-top: 56.25%;
}

.article-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.article-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.2;
}

.article-content {
    flex: 1;
    margin-top: 5px;
}

.article-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;
}

@media screen and (min-width: 800px) {
    .columns,
    .column {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .first-article {
        flex-direction: row;
    }

    .first-article .article-body {
        flex: 1;
    }

    .first-article .article-image {
        height: 300px;
        order: 2;
        padding-top: 0;
        width: 400px;
    }

    .main-column {
        flex: 3;
    }

    .nested-column {
        flex: 2;
    }
}

/* Footer */
.footer {
    color: #bbb;
    line-height: 1.5;
}
.footer__dorokhin {
    padding: 1rem 2rem;
    background-color: #444444;
}
.footer__dorokhin__links-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer__dorokhin__links-list li {
    margin: 0.1rem 0.5rem;
    white-space: nowrap;
}
/* one before the last child */
.footer__dorokhin__links-list li:nth-last-child(2) {
    flex: 1;
}

/* Login form */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 6%;
    margin: 0;
}

form {
    background-color: #FFF;
    padding: 2em 2em 3em;
    border-radius: 8px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}
form input {
    color: #384047;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border: none;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1.2em;
    width: 100%;
}
form input:focus {
    outline: none;
}
.form__login-button {
    font-weight: 600;
    text-align: center;
    font-size: 19px;
    color: #FFF;
    background-color: #4bc970;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.form__login-button .signup-message {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.signup-message__link {
    color: #404040;
}
